@tailwind base;
@tailwind components;
@tailwind utilities;

/* Limpieza de clases de plantilla innecesarias */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f3f4f6;
}

/* Tus estilos globales personalizados pueden ir aquí */
